In [17]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\premavathi.k\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [52]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\premavathi.k\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [40]:
pip install -U textblob

Collecting textblobNote: you may need to restart the kernel to use updated packages.
  Downloading textblob-0.15.3-py2.py3-none-any.whl (636 kB)
Requirement already satisfied, skipping upgrade: nltk>=3.1 in c:\programdata\anaconda3\lib\site-packages (from textblob) (3.5)
Requirement already satisfied, skipping upgrade: regex in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2020.6.8)
Requirement already satisfied, skipping upgrade: click in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied, skipping upgrade: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.47.0)
Requirement already satisfied, skipping upgrade: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (0.16.0)
Installing collected packages: textblob
Successfully installed textblob-0.15.3

In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from nltk.corpus import stopwords
from textblob import TextBlob

## 1. Read Data

In [23]:
data = pd.read_csv('Elon_musk.csv')
data.head()

   ID                                               Text
0   1                             @kunalb11 I’m an alien
1   2  @ID_AA_Carmack Ray tracing on Cyberpunk with H...
2   3                @joerogan @Spotify Great interview!
3   4                    @gtera27 Doge is underestimated
4   5  @teslacn Congratulations Tesla China for amazi...

## 2. Number of Words

In [24]:
#Number of Words in single tweet
data['word_count'] = data['Text'].apply(lambda x: len(str(x).split(" ")))
data[['Text','word_count']].head()

                                                Text  word_count
0                             @kunalb11 I’m an alien           4
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...          13
2                @joerogan @Spotify Great interview!           4
3                    @gtera27 Doge is underestimated           4
4  @teslacn Congratulations Tesla China for amazi...          17

## 3. Number of Characters

In [25]:
#Number of characters in single tweet
data['char_count'] = data['Text'].str.len() ## this also includes spaces
data[['Text','char_count']].head()

                                                Text  char_count
0                             @kunalb11 I’m an alien          22
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...          82
2                @joerogan @Spotify Great interview!          35
3                    @gtera27 Doge is underestimated          31
4  @teslacn Congratulations Tesla China for amazi...         104

## 4. Average Word Length

In [26]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

data['avg_word'] = data['Text'].apply(lambda x: avg_word(x))
data[['Text','avg_word']].head()

                                                Text  avg_word
0                             @kunalb11 I’m an alien  4.750000
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...  5.384615
2                @joerogan @Spotify Great interview!  8.000000
3                    @gtera27 Doge is underestimated  7.000000
4  @teslacn Congratulations Tesla China for amazi...  5.176471

## 5. Number of stopwords

In [27]:
stop = stopwords.words('english')

data['stopwords'] = data['Text'].apply(lambda x: len([x for x in x.split() if x in stop]))
data[['Text','stopwords']].head()

                                                Text  stopwords
0                             @kunalb11 I’m an alien          1
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...          4
2                @joerogan @Spotify Great interview!          0
3                    @gtera27 Doge is underestimated          1
4  @teslacn Congratulations Tesla China for amazi...          5

## 6. Number of Special Characters

In [28]:
data['hastags'] = data['Text'].apply(lambda x: len([x for x in x.split() if x.startswith('@')]))
data[['Text','hastags']].head()

                                                Text  hastags
0                             @kunalb11 I’m an alien        1
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...        1
2                @joerogan @Spotify Great interview!        2
3                    @gtera27 Doge is underestimated        1
4  @teslacn Congratulations Tesla China for amazi...        1

## 7. Number of Numerics

In [29]:
data['numerics'] = data['Text'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data[['Text','numerics']].head()

                                                Text  numerics
0                             @kunalb11 I’m an alien         0
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...         0
2                @joerogan @Spotify Great interview!         0
3                    @gtera27 Doge is underestimated         0
4  @teslacn Congratulations Tesla China for amazi...         0

## 8. Number of Upper Case Words

In [30]:
data['upper'] = data['Text'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
data[['Text','upper']].head()

                                                Text  upper
0                             @kunalb11 I’m an alien      0
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...      1
2                @joerogan @Spotify Great interview!      0
3                    @gtera27 Doge is underestimated      0
4  @teslacn Congratulations Tesla China for amazi...      0

# Pre - Processing

## 2.1 Lower Case

In [31]:
data['Text'] = data['Text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
data['Text'].head()

0                               @kunalb11 i’m an alien
1    @id_aa_carmack ray tracing on cyberpunk with h...
2                  @joerogan @spotify great interview!
3                      @gtera27 doge is underestimated
4    @teslacn congratulations tesla china for amazi...
Name: Text, dtype: object

## 2.2 Removing Punctuation

In [32]:
data['Text'] = data['Text'].str.replace('[^\w\s]','')
data['Text'].head()

0                                 kunalb11 im an alien
1    id_aa_carmack ray tracing on cyberpunk with hd...
2                     joerogan spotify great interview
3                       gtera27 doge is underestimated
4    teslacn congratulations tesla china for amazin...
Name: Text, dtype: object

## 2.3 Removal of Stop Words

In [33]:
stop = stopwords.words('english')
data['Text'] = data['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
data['Text'].head()

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                     joerogan spotify great interview
3                          gtera27 doge underestimated
4    teslacn congratulations tesla china amazing ex...
Name: Text, dtype: object

## 2.4 Common word removal

In [34]:
freq = pd.Series(' '.join(data['Text']).split()).value_counts()[:10]
freq

spacex            239
amp               218
tesla             166
erdayastronaut    142
rt                127
ppathole          123
flcnhvy           114
yes                86
great              76
teslaownerssv      73
dtype: int64

In [35]:
freq = list(freq.index)
data['Text'] = data['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
data['Text'].head()

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                           joerogan spotify interview
3                          gtera27 doge underestimated
4    teslacn congratulations china amazing executio...
Name: Text, dtype: object

## 2.5 Rare Words Removal

In [36]:
freq = pd.Series(' '.join(data['Text']).split()).value_counts()[-10:]
freq

lipstick              1
inflationary          1
capability            1
started               1
craters               1
surprised             1
turnaround            1
adagio                1
believed              1
httpstco6ojfysuaxo    1
dtype: int64

In [37]:
freq = list(freq.index)
data['Text'] = data['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
data['Text'].head()

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                           joerogan spotify interview
3                          gtera27 doge underestimated
4    teslacn congratulations china amazing executio...
Name: Text, dtype: object

## 2.6 Spelling correction

In [42]:
data['Text'][:5].apply(lambda x: str(TextBlob(x).correct()))

0                                    kunalb11 in alien
1    id_aa_carmack ray tracing cyberpunk her nextle...
2                           joerogan specify interview
3                          gtera27 done underestimated
4    teslacn congratulations china amazing executio...
Name: Text, dtype: object

## 2.7 Tokenization

In [45]:
TextBlob(data['Text'][1]).words

WordList(['id_aa_carmack', 'ray', 'tracing', 'cyberpunk', 'hdr', 'nextlevel', 'tried'])

In [44]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\premavathi.k\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

## 2.8 Stemming

In [48]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
data['Text'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0                                    kunalb11 im alien
1    id_aa_carmack ray trace cyberpunk hdr nextleve...
2                           joerogan spotifi interview
3                              gtera27 doge underestim
4    teslacn congratul china amaz execut last year ...
Name: Text, dtype: object

## 2.9 Lemmatization

In [49]:
from textblob import Word

In [54]:
data['Text'] = data['Text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
data['Text'].head()

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                           joerogan spotify interview
3                          gtera27 doge underestimated
4    teslacn congratulation china amazing execution...
Name: Text, dtype: object

# 3 Advanced Text Processing

## 3.1 N-grams

In [55]:
TextBlob(data['Text'][0]).ngrams(2)

[WordList(['kunalb11', 'im']), WordList(['im', 'alien'])]

## 3.2 Term frequency
Term frequency is simply the ratio of the count of a word present in a sentence, to the length of the sentence.

Therefore, we can generalize term frequency as:

TF = (Number of times term T appears in the particular row) / (number of terms in that row)

In [56]:
tf1 = (data['Text'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

           words  tf
0          tried   1
1      cyberpunk   1
2            ray   1
3  id_aa_carmack   1
4            hdr   1
5      nextlevel   1
6        tracing   1

## 3.3 Inverse Document Frequency
The intuition behind inverse document frequency (IDF) is that a word is not of much use to us if it’s appearing in all the documents.

Therefore, the IDF of each word is the log of the ratio of the total number of rows to the number of rows in which that word is present.

IDF = log(N/n), where, N is the total number of rows and n is the number of rows in which the word was present.

In [57]:
for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(data.shape[0]/(len(data[data['Text'].str.contains(word)])))

tf1

           words  tf       idf
0          tried   1  5.808643
1      cyberpunk   1  5.115496
2            ray   1  5.035453
3  id_aa_carmack   1  4.166415
4            hdr   1  6.907255
5      nextlevel   1  6.907255
6        tracing   1  7.600402

## 3.4 Term Frequency – Inverse Document Frequency (TF-IDF)

In [58]:
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

           words  tf       idf     tfidf
0          tried   1  5.808643  5.808643
1      cyberpunk   1  5.115496  5.115496
2            ray   1  5.035453  5.035453
3  id_aa_carmack   1  4.166415  4.166415
4            hdr   1  6.907255  6.907255
5      nextlevel   1  6.907255  6.907255
6        tracing   1  7.600402  7.600402

In [59]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1))
vect = tfidf.fit_transform(data['Text'])
vect

<1999x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 7375 stored elements in Compressed Sparse Row format>

## 3.5 Bag of Words

In [60]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
data_bow = bow.fit_transform(data['Text'])
data_bow

<1999x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 8023 stored elements in Compressed Sparse Row format>

## 3.6 Sentiment Analysis

In [61]:
data['Text'][:5].apply(lambda x: TextBlob(x).sentiment)

0                                 (-0.25, 0.75)
1                                    (0.0, 0.0)
2                                    (0.0, 0.0)
3                                    (0.0, 0.0)
4    (0.20000000000000004, 0.32222222222222224)
Name: Text, dtype: object

In [63]:
data['sentiment'] = data['Text'].apply(lambda x: TextBlob(x).sentiment[0] )
data[['Text','sentiment']].head()

                                                Text  sentiment
0                                  kunalb11 im alien      -0.25
1  id_aa_carmack ray tracing cyberpunk hdr nextle...       0.00
2                         joerogan spotify interview       0.00
3                        gtera27 doge underestimated       0.00
4  teslacn congratulation china amazing execution...       0.20